.table-line-break-helper {
  position: absolute;
  top: -36px;
  left: -36px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.table-break {
  page-break-before: always;
  width: calc(100% + 20mm);
  height: 0px;
  left: -10mm;
  border-bottom: 1px dashed gray;
  position: relative;
}

.default-break {
  position: absolute;
  height: 1px;
  border-bottom: 1px dashed gray;
  left: 0;
  right: 0;
  z-index: 1;
}

.rt-tr-group.invoice-print-highlight {
  cursor: pointer;
  background-color: #f1b87f96;
}

@media print {
  .table-line-break-helper {
    display: none;
  }

  .table-break,
  .default-break {
    border: none;
  }
}
